## Description
This is a Python Test hosted by PrismaP Lab, Intelligent Critical Care Center for OPS positions.

* The project will provide sample datasets for patients with their creatinine test results.
* The goal of the project is trying to annotate the patients who has acute kidney injury (AKI) based on provided criteria shown below.

If any of the following criterion is satisfied, we think patient has AKI.

* Current creatinine value >= 4 mg/dl
* Ratio between current creatinine and reference creatinine > 1.5
* Current creatinine - minimum creatinine within last 48 hours >= 0.3 mg/dl and Current creatinine - reference creatinine >= 0.3 mg/dl
* If there is no creatinine within last 48 hours, skip this condition.

    * Patient have dialysis within past 7 days.

Three data frames are given.

* Patient reference creatinine dataframe.
* Creatinine value dataframe.
* Dialysis time dataframe.

Please implement the codes and generate the result file:

* For each creatinine, please label if patient has AKI (Y/N).
* The result will contain two columns, one is called predicted while the other one is called id.
* Please check the Evaluation section to understand the submission requirements.

### Evaluation
The evaluation pages describes how submissions will be scored and how students should format their submissions. You don't need a sub-title at the top; the page title appears above. Below is an example of a typical evaluation page.

* Submissions are evaluated on Absolute Error metric.

There are two columns expected in the results:

* Expected, it can be a float or integer value, 1 to indicate the existence of AKI, otherwise 0.
* Id, it will be used to identify the patient and measurement_datetime, please create the column by concating patient_id column and measurement_datetime column with _ symbol.
* Ex. patient_id = 1, measurement_datetime = '2022-09-01 19:08:09', id = '1_2022-09-01 19:08:09'

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.listdir('.././../../Kaggle_input/input/PrismaP_ 8_31_Python_Coding_Test/')

['prismap-831-python-coding-test',
 'dialysis_time.csv',
 'reference_creatinine.csv',
 'creatinine.csv',
 'prismap-831-python-coding-test.zip']

In [6]:
dialysis = pd.read_csv('../../../Kaggle_input/input/PrismaP_ 8_31_Python_Coding_Test/dialysis_time.csv')
ref_creatin = pd.read_csv('../../../Kaggle_input/input/PrismaP_ 8_31_Python_Coding_Test/reference_creatinine.csv')
creatin = pd.read_csv('../../../Kaggle_input/input/PrismaP_ 8_31_Python_Coding_Test/creatinine.csv')

In [7]:
dialysis.head()

   patient_id        dialysis_time
0          59  2014-01-10 19:04:00
1          74  2013-09-18 18:09:00
2          11  2014-07-26 16:44:00
3          32  2015-05-08 18:25:00
4           1  2015-01-18 16:33:00

In [12]:
dialysis.shape

(15, 2)

In [8]:
ref_creatin.head()

   patient_id  reference_creatinine
0          66                  0.59
1          76                  0.90
2          83                  1.30
3          74                  0.70
4          34                  1.03

In [13]:
ref_creatin.shape

(20, 2)

In [54]:
creatin.head()

   patient_id measurement_datetime  creatinine
0          17  2014-05-06 06:16:00        2.50
1          11  2014-09-09 02:20:00        1.12
2          34  2015-05-20 00:09:00        0.08
3          47  2013-09-06 23:59:00        0.46
4           4  2014-07-19 12:24:00        1.63

In [60]:
creatin.patient_id.nunique()

20

In [57]:
data = creatin.merge(
        dialysis, how="left", on="patient_id"
    )
data.shape

(1146, 4)

In [35]:
data['Expected'] = False

In [44]:
data['Expected'] = data['Expected'] + data.creatinine >= 4

In [49]:
data['Expected'] = (data['Expected']) + (data.creatinine/data.reference_creatinine > 1.5)

In [53]:
data.shape

(1146, 6)

In [11]:
creatin.measurement_datetime.max()

'2015-05-30 21:32:00'

In [24]:
submission = pd.DataFrame()
submission['Id'] = creatin.patient_id.astype('str') + '_' + creatin.measurement_datetime.astype('str')

In [29]:
submission['Expected'] = 0

In [30]:
submission

                         Id  Expected
0    17_2014-05-06 06:16:00         0
1    11_2014-09-09 02:20:00         0
2    34_2015-05-20 00:09:00         0
3    47_2013-09-06 23:59:00         0
4     4_2014-07-19 12:24:00         0
..                      ...       ...
790  45_2015-02-17 07:47:00         0
791  17_2014-05-05 17:01:00         0
792  17_2014-04-21 10:24:00         0
793   3_2015-05-17 13:46:00         0
794   4_2014-07-13 19:47:00         0

[795 rows x 2 columns]

In [31]:
submission.to_csv('submission.csv', index=False)